<h1><%= title %></h1>
<p>Welcome2 to <%= title %></p>

<form onSubmit="return false">
<input id="msg" type="text"></input>
<input id="ok" type="submit" value="ok"></input>
</form>

<ul id="display"></ul>
